html,body{margin:0;padding:0;}
.left {width: 250px;height: 900px;float: left;overflow: scroll;overflow-x:hidden}
.right{margin-left:258px}
.right .wrap{padding-top: 22px;}
.box{margin-bottom:15px;}
label{display:inline-block;width: 250px;margin-right: 25px;margin-bottom: 10px;}
input{font-size:16px;text-indent:4px;}
button{width:130px;height:34px;text-align:center;line-height:34px;font-size:16px;margin-right:10px;cursor:pointer;}
textarea{width:60%;height:284px;}
p{padding:10px;color:#ff0000;font-size:20px;}

.selectFile {display:block;margin-top: -15px;width: 170px;}
.Dir{margin-top: -15px;}
      
.path{display: none;}