<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>专题连接转换</title>
<script src="./../../assets/js/ueditor/ueditor.config.js"></script>
<script src="./../../assets/js/ueditor/ueditor.all.min.js"></script>
<script src="./../../assets/js/jquery-1.7.2.min.js"></script>
<script src="./../../assets/js/store.js"></script>
<script type="text/javascript">
    UE.Editor.defaultOptions.enterTag = "";
    UE.plugins['defaultfilter'] = function () { };
</script>

<style type="text/css">
     h3{margin:0px;margin-bottom:10px;}
    .box{margin-bottom:15px;}
    .cf{zoom:1}.cf:before,.cf:after{display:table;content:"";}.cf:after{clear:both;}
    .fl{float:left;}
    .fr{float:right}       
    .box5{width:49.5%}       
     input{padding:4px 0;font-size:16px;text-indent:4px;}                                  
</style>

</head>
<body>

    <div class="box cf">
        <div class="box box5 fl">
            <h3>Excel表格(表格列的顺序为：标题，产品编号，连接)</h3>
            <script type="text/plain" id="tbEditor">

            </script>
        </div>
        <div class="box  box5 fr">
            <h3>专题HTML</h3>
                <textarea id="ztHtml" style="width:100%;height:227px"></textarea>

        </div>
    </div>

    <div class="box cf">
     
        <div class="box  box5">
            <h3>连接（a元素）选择器</h3>
                <input type="text" id="aSelector" value=".zt-container a" style="width:100%"/>

        </div>
    </div>
   
    <div class="box">
        <div class="box">
            <button id="conver" style="padding:5px 30px;font-size:16px">替换</button>   <button id="clear" style="padding:5px 30px;font-size:16px">清空</button>
        </div>
    <textarea id="converHtml" style="width:100%;height:200px"></textarea>
    </div>

    <div id="msg" style="padding:20px;color:#ff0000;font-size:20px;">

    </div>
   
    <script type="text/javascript">

       var tbHtmlEditor = UE.getEditor('tbEditor',{
            //这里可以选择自己需要的工具按钮名称,此处仅选择如下五个
            toolbars:[['FullScreen', 'Source', 'Undo', 'Redo', 'insertimage', 'link', 'unlink']],
            //focus时自动清空初始化时的内容
            autoClearinitialContent: false,

             //自动增长高度
            autoHeightEnabled: false,

            //关闭字数统计
            wordCount:false,
            //关闭elementPath
            elementPathEnabled: false,

            //默认的编辑区域高度
            initialFrameHeight:200
           //更多其他参数，请参考ueditor.config.js中的配置项


       })
        


    </script>


<script src="./../../assets/js/convertLink.js"></script>


</body>
</html>
